.main_wrap{
    display: flex;
    width: 100vh;
    height: 100vh;

}
.overlay_animation{
    position: fixed;
    overflow: none;
    // z-index: 111111;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    .overlay_content{
        // z-index: 11111111;
        height: 147px;
        width: 147px;
        color: white;
        background: conic-gradient(white 3.6deg, black 0deg);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        line-height: 30px;
        font-family: var(--font-bold);
        &::after{
            width: 140px;
            height: 140px;
            background-color: black;
            z-index:111111111;
            color: white;
            content: "Aayushma";
            position: absolute;
            border-radius: 50%;
            display: flex;
            font-size: 18px;
            // padding: 5px;
            justify-content: center;
            align-items: center;
        }
    }
}

.transition{
    // transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1) all;

    animation-name: overlay_leave;
    animation-timing-function: .3s;
    animation-duration: 1s;

    &::before{
        content: "";
        width: 200px;
        height: 200px;
        background-color: transparent;
        border-radius: 25%;
    }
    
}

@keyframes overlay_leave {
    0%{
     
        transform: rotateX('90');
    }
    10%{
        background-color: green;
        transform: rotateX('100');

    }
    25%{
        background-color: #242424;
        transform: rotateX('130');

    }
    50%{
        background-color: blue;
        transform: rotateX('180');

    }
    75%{
        transform: rotateX('270');

    }
    100%{
        transform: rotateX('360');

    }
}