.navbar{
    display: flex;
    // height: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    height: 120px;
    z-index: 1111;
    width: 100%;
    .navbar_right{
        display: flex;
        align-items: center;
        gap: 10px;
         a{
            text-decoration: none;
            padding: 15px;
           background-color: #9859FF;
           color: white;
           font-weight: bold;
           border-radius: 8px;
         }

    }
}